.hero-section{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.hero-title{
    font-size: 30px;
    font-weight: 900;
    color: #94928d; 
}