.hero-section{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.hero-title{
    font-size: 30px;
    font-weight: 900;
    color: #94928d; 
}
.hero-button{
    border: 2px solid #2a97ff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    background-color: #2a97ff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}
.hero-text{
    position: absolute;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-weight: 100;
}
.hero-button:hover{
    border: 1px solid #2a97ff;
    background-color: transparent;
    color: #2a97ff;

}
.hero-buy{
    font-size: 20px;
    margin-top: 20px;
}